[user]
	email = cody.moore101@gmail.com
	name = Cody Moore
	signingkey = F26A1BB18388A51E
[commit]
	gpgsign = true
#[gpg]
#	program = gpg
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	program = gpg
[pull]
	rebase = false
[core]
    editor = vim
	excludesFile = ~/.gitignore
[push]
	autoSetupRemote = true
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
