[user]
	email = cody.moore101@gmail.com
	name = Cody Moore
	signingkey = 5369D474
[commit]
	gpgsign = true
#[gpg]
#	program = gpg
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	program = gpg
[pull]
	rebase = false
[core]
    editor = vim
