[user]
	email = cody@bloomcred.it
	name = Cody Moore
	signingkey = 5369D474
[commit]
	gpgsign = true
#[gpg]
#	program = gpg
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	program = gpg
[diff "sopsdiffer"]
	textconv = sops -d
[pull]
	rebase = false
